
body {
  margin: 0;
  padding: 0;
 font-family: 'Trebuchet MS', sans-serif;
  background-color: #e0dfdf;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background-color: #022950;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
nav .infosec{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:10px;

}
nav .logo h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}
nav .user-info {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 60px;
}
nav .exit{ 
  margin-top: 2px;  
}
nav .user-info img,
nav .exit img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
}
nav .exit img:hover{
  transform: scale(1.1);
}

nav .user-info p {
  margin: 0;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 12px;
  color: #ffffff;
}

nav .user-info input[type="hidden"] {
  display: none;
}

.main_container {    
    padding: 20px;
    margin-top: 20px;
  display: flex;
  flex-wrap: wrap; 
  gap: 10px;
  height: 500px;
 
}
